.code-field { width: 100%; }
.code { background: #101828; color: #d8e2ff; font-family: monospace; min-height: 460px; }
.field-help { color: #4d5a73; margin-right: 4px; }
.field-help mat-icon { font-size: 22px; height: 22px; width: 22px; }
